<%- include("partials/header"); -%>

<div class="container">
  <form action="/" method="post">
      <h1>Compose</h1>
      <input type="text" name="newPost">
      <button type="submit" name="publishButton">Publish</button>
  </form>
</div>

<%- include("partials/footer"); -%>